<ion-header>
  <ion-toolbar>
    <ion-title>MUSEUM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" fullscreen>
  <h1 class="titles">EXHIBITION</h1>
  <ion-img class="exhibition" src="http://192.168.0.14:8080/img/icon.png"></ion-img>
  <h1 class="titles">DESCRIPTION</h1>
  <div *ngFor="let exhibit of exhibitArray">
    <div *ngIf="exhibit.location == 'Area 1'">
      <ion-list lines="none">
        <ion-item class="descrip">
          <ion-label>Name: {{exhibit.name}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>Opening Date: {{exhibit.openingDate}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>Closing Date: {{exhibit.closingDate}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>Location: {{exhibit.location}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <h1 class="titles">ARTWORKS</h1>
  <!-- <ion-label>typefile</ion-label>
  <ion-select [(ngModel)]="choices" multiple="true" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <ion-select-option>Image</ion-select-option>
        <ion-select-option>Audio</ion-select-option>
        <ion-select-option>Video</ion-select-option>
  </ion-select> -->
  <ion-list>
    <ion-item>
      <ion-label>TYPE FILE</ion-label>
      <ion-select (ionChange)="changeTypeFile($event)" [(ngModel)]="typeFileChoices" multiple="true" cancelText="Cancel"
        okText="Confirm">
        <ion-select-option value="image">Image</ion-select-option>
        <ion-select-option value="audio">Audio</ion-select-option>
        <ion-select-option value="video">Video</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let art of artArrayShow" lines="none">
    <h3>{{art.name}}</h3>
    <ng-container *ngFor="let media of art.media">
      <ion-img *ngIf="media.fileType == 'image' && typeFileChoices.includes(media.fileType)" style="display:block"
        class="exhibition" [src]="localhost + '/img/' + media.fileName + '.' + media.extension" alt="hjkchzkc">
      </ion-img>
    </ng-container>
  </ion-list>
  <!-- <ion-img id="picture" style="display:block" class="exhibition" [src]='imgToShow'></ion-img> -->
  <!-- <ion-button class="exhibition" (click)="playerAudio()" size="small" color="secondary"></ion-button>>Play Audio
  </ion-button> -->
  <!-- <ion-button class="exhibition" (click)="playerVideo()" size="small" color="secondary" style="display:none">Play Video</ion-button> -->
</ion-content>