<ion-header>
  <ion-toolbar>
    <ion-title>MUSEUM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" fullscreen>
  <h1 class="titles">EXHIBITION</h1>
  <div *ngFor="let media of mediaArray">
    <div *ngIf="media.id == 1">
      <ion-img class="exhibition" src="http://localhost:8080/img/icon.png"></ion-img>
    </div>
  </div>
  <h1 class="titles">DESCRIPTION</h1>
  <div *ngFor="let exhibit of exhibitArray">
    <ion-list *ngIf="exhibit.id == 1" lines="none">
      <ion-item class="descrip">
        <ion-label>Name: {{exhibit.name}}</ion-label>
      </ion-item>
      <ion-item class="descrip">
        <ion-label>Opening Date: {{exhibit.openingDate}}</ion-label>
      </ion-item>
      <ion-item class="descrip">
        <ion-label>Closing Date: {{exhibit.closingDate}}</ion-label>
      </ion-item>
      <ion-item class="descrip">
        <ion-label>Location: {{exhibit.location}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <h1 class="titles">ARTWORKS</h1>
  <ion-list *ngFor="let art of artArray" lines="none">
    <ion-item *ngIf="art.id == 1" class="border">
      <ion-label>{{art.name}}</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <div *ngFor="let media of mediaArray">
          <div *ngIf="media.id == 1">
            <ion-select-option>
              Image
            </ion-select-option>
            <ion-select-option>
              Audio
            </ion-select-option>
            <ion-select-option>
              Video
            </ion-select-option>
          </div>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-img class="exhibition" [src]='imgToShow'></ion-img>
  <ion-button class="exhibition" (click)="playerAudio()" size="small" color="secondary">Play Audio</ion-button>
  <ion-button (click)="playVideo()">PlayVideo</ion-button>
</ion-content>