
#exhibition{
    align-items: center;

    // margin-top: 20px;
    // margin-bottom: 30px;
    // margin-right: 20px;
    // margin-left: 20px;

    //margin: top right bottom left
    //margin: 20px 20px 30px 20px;

    //margin: top right&left bottom
    //margin: 20px 20px 30px

    margin: 40px 15px 40px;
}

.titles{
    align-items: center;
    margin: 20px 15px 0px;
    font-size: 4vw;
    font-weight: bold;
}

.descrip{
    font-size: 4vw;
}

.border{
    border:2px solid #59D9F7;
    border-radius: 5px;
    margin: 15px;
}



