<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="exhibition" src="assets/img/exhibition.png"></ion-img>
  <h1 class="titles">Artworks</h1>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Mona Lisa</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <ion-select-option value="red">
          Audio
        </ion-select-option>
        <ion-select-option value="red">
          Text
        </ion-select-option>
        <ion-select-option value="red">
          Video
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
